<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="" method="get">
		<input type="text" name="keyword">
		<button type="submit">Search</button>
	</form>
	<br>
	<br>
	<table border="1">
		<thead>
			<th>id</th>
			<th>Name</th>
			<th>Total post</th>
			<th>Description</th>
			<th>
				<a href="/categories/add-new">Add new</a>
			</th>
		</thead>
		<tbody>
		<% for (var i = 0; i < data.length; i++) { %>
			<tr>
				<td>
					<%= data[i].id%>
				</td>
				<td>
					<%= data[i].name%>
				</td>
				<td>
					<%= data[i].totalPost%>
				</td>
				<td>
					<%= data[i].description%>
				</td>
				
				<td>
					<a href="/categories/edit/<%= data[i].id%>">Edit</a>
					<a href="/categories/remove/<%= data[i].id%>">Remove</a>
				</td>
			</tr>
		<% } %>
		</tbody>
	</table>
</body>
</html>